<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sankuai.meituan.waimai.agent.template.mapper.TestMapper">
  <resultMap id="BaseResultMap" type="com.sankuai.meituan.waimai.agent.template.domain.Test">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="valid" jdbcType="INTEGER" property="valid" />
    <result column="ctime" jdbcType="TIMESTAMP" property="ctime" />
    <result column="utime" jdbcType="TIMESTAMP" property="utime" />
  </resultMap>

  <sql id="Base_Column_List">
    id, name, valid, ctime, utime
  </sql>

  <select id="getById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from wm_agent_test
    where id = #{id,jdbcType=INTEGER}
  </select>

  <update id="update" parameterType="com.sankuai.meituan.waimai.agent.template.domain.Test">
    update wm_agent_test
    set name = #{name,jdbcType=VARCHAR},
      utime = now()
    where id = #{id,jdbcType=INTEGER}
  </update>

  <update id="updateSelective" parameterType="com.sankuai.meituan.waimai.agent.template.domain.Test">
    update wm_agent_test
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
        utime = now
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

  <update id="deleteById" parameterType="java.lang.Integer">
    update wm_agent_test set valid = 0, utime = now()
    where id = #{id,jdbcType=INTEGER} and valid = 1
  </update>

  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.sankuai.meituan.waimai.agent.template.domain.Test" useGeneratedKeys="true">
    insert into wm_agent_test (name, valid, ctime,
      utime)
    values (#{name,jdbcType=VARCHAR}, #{valid,jdbcType=INTEGER}, #{ctime,jdbcType=TIMESTAMP},
      #{utime,jdbcType=TIMESTAMP})
  </insert>

  <insert id="batchInsert">
    <if test="items.get(0) != null">
      insert into wm_agent_test (name, valid, ctime,
        utime)
      values
      <foreach collection="items" index="index" item="item" separator=",">
        (#{item.name,jdbcType=VARCHAR}, #{item.valid,jdbcType=INTEGER}, #{item.ctime,jdbcType=TIMESTAMP},
          #{item.utime,jdbcType=TIMESTAMP})
      </foreach>
    </if>
  </insert>
</mapper>
