<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.egenie.architect.demo.product.mapper.TestMapper">
  <resultMap id="BaseResultMap" type="cn.egenie.architect.demo.product.domain.Test">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="valid" jdbcType="INTEGER" property="valid" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  
  <sql id="Base_Column_List">
    id, name, valid, create_time, update_time
  </sql>
  
  <select id="getById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from test
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <select id="getByIds" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from test
    where id in 
    <foreach close=")" collection="ids" index="index" item="id" open="(" separator=",">
      #{id,jdbcType=INTEGER}
    </foreach>
  </select>
  
  <update id="updateSelective" parameterType="cn.egenie.architect.demo.product.domain.Test">
    update test
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
        update_time = now()
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <update id="softDeleteById" parameterType="java.lang.Integer">
    update test set valid = 0, update_time = now()
    where id = #{id,jdbcType=INTEGER} and valid = 1
  </update>
  
  <update id="softDeleteByIds">
    update test set valid = 0, update_time = now()
    where id in 
    <foreach close=")" collection="ids" index="index" item="id" open="(" separator=",">
      #{id,jdbcType=INTEGER}
    </foreach>
     and valid = 1
  </update>
  
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="cn.egenie.architect.demo.product.domain.Test" useGeneratedKeys="true">
    insert into test (name, valid, create_time, 
      update_time)
    values (#{name,jdbcType=VARCHAR}, #{valid,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  
  <insert id="batchInsert">
    <if test="items.get(0) != null">
      insert into test (name, valid, create_time, 
        update_time)
      values
      <foreach collection="items" index="index" item="item" separator=",">
        (#{item.name,jdbcType=VARCHAR}, #{item.valid,jdbcType=INTEGER}, #{item.createTime,jdbcType=TIMESTAMP}, 
          #{item.updateTime,jdbcType=TIMESTAMP})
      </foreach>
    </if>
  </insert>
</mapper>